/*cassa que abriga tudo*/
#main {
    border: 1px solid blue;
}
/*titulo do conteudo*/
#titulo {
    border: 1px solid red;
}
/*sessao dos inputs*/
.sessão-input {
    border: 1.5px solid #c9c9c9;
}
/*formulario*/
#formulario {
    border: 1px solid rgb(242, 0, 255);
}
/*input de barra de texto*/
#input-text {
    border: 1px solid red;
}
/*botão de enviar*/
#botão {
    color: white;
    background-color: black;
    width: 115px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
}
/*sessão que ira retonar oq o usuario digitou*/
#sessao-retorno {
    border: 1px solid red;
}
/*caso o repositorio nao tenha sido encontrado*/
.retorno-invalido {
    border: 1px solid red;
}

<<<<<<< HEAD
/*sessao que agrupa todo o retorno do git hub*/
.retorno-valido{
    border: 1px solid red;
}
/*corpo do retorno valido*/
.div-github{
    border: 1px solid red;
}
/*div com  informações do usuario*/
.div-usuario{
    border: 1px solid red;
}
/*div com  informações do usuario*/
#imagem-usuario{
    border: 1px solid red;
}
/*nome usuario no github*/
.nome-usuario{
    border: 1px solid red;
}
/*profissao  usuario no github*/
.profisssao-usuario{
    border: 1px solid red;
}
/*nav de links do usuario github*/
.nav-links{
    border: 1px solid red;
}
 /*cada item da nav de links*/
.item-link{
    border: 1px solid red;
}
/*img dentro da nav de link*/
.img-lista{
    border: 1px solid red;
}

/*container que abriga os repositorios*/
.container-repositorio{
    border: 1px solid red;
}

/*divs de repositorios*/
.repositorios{
    border: 1px solid red;
}

/*titulo dos repositorios*/
.nome-repositorio{
    border: 1px solid red;
}

/*descrição do repositorio*/
.descriçao-repositorio{
    border: 1px solid red;
}

/*imagem da estrela no repositorio*/
.estrela-img{
    border: 1px solid red;
}

/*quantidad ede estrela*/
.quantidade-estrela{
    border: 1px solid red;
}

/*links do repositorio no proprio github*/
.link-repositorio{
    border: 1px solid red;
}
=======
/**/
>>>>>>> d4b53bdca7926e56798ee966bb6ebdd11dce9af8
