/*cassa que abriga tudo*/
#main {
    border: 1px solid blue;
}
/*titulo do conteudo*/
#titulo {
    border: 1px solid red;
}
/*sessao dos inputs*/
.sessão-input {
    border: 1.5px solid #c9c9c9;
}
/*formulario*/
#formulario {
    border: 1px solid rgb(242, 0, 255);
}
/*input de barra de texto*/
#input-text {
    border: 1px solid red;
}
/*botão de enviar*/
#botão {
    color: white;
    background-color: black;
    width: 115px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
}
/*sessão que ira retonar oq o usuario digitou*/
#sessao-retorno {
    border: 1px solid red;
}
/*caso o repositorio nao tenha sido encontrado*/
.retorno-invalido {
    border: 1px solid red;
}

/**/
