/*cassa que abriga tudo*/
#main{
    border: 1px solid red;
}
/*titulo do conteudo*/
#titulo{
    border: 1px solid red;
}
/*sessao dos inputs*/
.sessão-input{
    border: 1px solid red;
}
/*formulario*/
#formulario{
    border: 1px solid red;
}
/*input de barra de texto*/
#input-text{
    border: 1px solid red;
}
/*botão de enviar*/
#botão{
    border: 1px solid red;
}
/*img da lupa do botão*/
#lupa-botao{
    border: 1px solid red;
}
/*sessão que ira retonar oq o usuario digitou*/
#sessao-retorno{
    border: 1px solid red;
}
/*caso o repositorio nao tenha sido encontrado*/
.retorno-invalido{
    border: 1px solid red;
}

/**/